.rating-wrapper {
    margin: 5px 0;
}
.rating {
    color: var(--white-color);
    background-color: var(--warning-color);
    padding: 0 4px;
    margin-left: 10px;
    border-radius: 5px;
}
.rating-wrapper span {
    color: var(--info-color);
    font-weight: 600;
}