.form-wrapper {
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form-title {
    font-size: 27px;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--primary-color);
    padding: 15px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
}
.form label {
    color: var(--white-color);
}
.form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 0;
    outline: 0;
}
.email-username {
    display: flex;
    gap: 5px;
}
.form-btn {
    /* width: max-content; */
    background-color: var(--success-color);
    color: var(--white-color);
    padding: 5px 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.show-password-icon {
    position: absolute;
    top: 120px;
    left: 20px;
    font-size: 20px;
    color: var(--primary-color);
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 980px) {
    .form {
        width: 80%;
    }
}
@media (max-width: 520px) {
    .form {
        width: 100%;
    }
    .form input {
        font-size: 12px;
    }
    .form-btn {
        font-size: 17px;
    }
}
